<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="c.o.m.demo.dao.EmployeeMapper">
    <resultMap id="basicEmployeeMap" type="c.o.m.demo.entity.Employee">
        <id property="employeeId" column="EMPLOYEE_ID" jdbcType="BIGINT"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="salary" column="SALARY" jdbcType="BIGINT" typeHandler="c.o.m.demo.dao.handler.MoneyTypeHandler"/>
        <result property="birthday" column="BIRTHDAY" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="hireDate" column="HIREDATE" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="level" column="LEVEL" jdbcType="TINYINT"/>
        <result property="department" column="DEPARTMENT" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="employeeMap" type="c.o.m.demo.entity.Employee">
        <id property="employeeId" column="EMPLOYEE_ID" jdbcType="BIGINT"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="salary" column="SALARY" jdbcType="BIGINT" typeHandler="c.o.m.demo.dao.handler.MoneyTypeHandler"/>
        <result property="birthday" column="BIRTHDAY" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="hireDate" column="HIREDATE" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="level" column="LEVEL" jdbcType="TINYINT"/>
        <result property="department" column="DEPARTMENT" jdbcType="VARCHAR"/>
        <result property="config" column="config" jdbcType="LONGVARCHAR"/>
        <collection property="educations" ofType="c.o.m.demo.entity.Education">
            <id property="educationId" column="EDUCATION_ID" jdbcType="BIGINT"/>
            <result property="employeeId" column="EMPLOYEE_ID" jdbcType="BIGINT"/>
            <result property="school" column="SCHOOL" jdbcType="VARCHAR"/>
            <result property="major" column="MAJOR" jdbcType="VARCHAR"/>
            <result property="start" column="START" jdbcType="TIMESTAMP"/>
            <result property="graduate" column="GRADUATE" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>

    <select id="selectOne" parameterType="java.lang.Long" resultMap="basicEmployeeMap">
        SELECT * FROM employee WHERE EMPLOYEE_ID = #{employeeId}
    </select>

    <select id="joinSelectOne" parameterType="java.lang.Long" resultMap="employeeMap">
        SELECT * FROM employee JOIN education ON employee.EMPLOYEE_ID = education.EMPLOYEE_ID AND employee.EMPLOYEE_ID = #{id}
    </select>

    <select id="selectByProperty" parameterType="c.o.m.demo.entity.Employee" resultMap="basicEmployeeMap">
        SELECT * FROM employee
        <where>
            <if test="name == null and hireDate == null">1 = 2</if>
            <if test="hireDate != null">HIREDATE &lt; #{hireDate}</if>
            <if test="name != null">AND NAME like #{name}</if>
        </where>
        LIMIT 1
    </select>

    <select id="selectAll" parameterType="java.lang.Long" resultMap="basicEmployeeMap">
        SELECT * FROM employee
    </select>

    <insert id="insertOne" parameterType="c.o.m.demo.entity.Employee" useGeneratedKeys="true" keyProperty="employeeId">
        INSERT INTO employee (NAME, SALARY, BIRTHDAY, HIREDATE, LEVEL, DEPARTMENT)
        VALUES (#{name}, #{salary, typeHandler=c.o.m.demo.dao.handler.MoneyTypeHandler},
                #{birthday, jdbcType=TIMESTAMP}, #{hireDate, jdbcType=TIMESTAMP}, #{level}, #{department});
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Long">
        DELETE FROM employee WHERE EMPLOYEE_ID = #{id}
    </delete>

    <update id="updateOne" parameterType="c.o.m.demo.entity.Employee">
        UPDATE employee SET name = #{name} WHERE EMPLOYEE_ID = #{employeeId}
    </update>
</mapper>